.page-template-page-copyright
    p
        @extend body 
        @apply pl-5 md:pl-32 pr-6 md:pr-32 xl:pr-24

    .wp-block-group
        @apply bg-cream mb-8 pb-14 pt-14
    h2
        @extend .title-secondary
    h3
        @extend .title-small
        @apply pl-5 md:pl-32 xl:pl-24 pb-5 xl:pb-0

.entry-content ul,
.entry-content ol,
.wp-block-post-content ul,
.wp-block-post-content ol
  list-style: revert
  margin: 0 0 1rem
  padding-left: 1.25rem

.entry-content li,
.wp-block-post-content li
  margin: .25rem 0

// Optional: force types (nice if you want consistent bullets/numbers)
.entry-content ul,
.wp-block-post-content ul
  list-style-type: disc

.entry-content ol,
.wp-block